<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Github Events</title>
   
</head>
<body>

<h1>Enter Github User</h1>

<form action="#" th:action="@{/getrepos}" th:object="${repos}" method="post">
    <p>
        <td>User: </td>
        <td><input type="text" th:field="*{user}"/></td>
        <td th:if="${#fields.hasErrors('user')}" th:errors="*{name}">Error Please enter user id </td>
    </p>
   
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
    </p>
</form>

</body>
</html>